<div class="article">
	<h1 class="article__title">
		{{- article.title -}}
	</h1>

	<div class="article__content rte">
		{{- article.content -}}
	</div>
</div>


{% schema %}
{
	"name": "Posts",
	"settings": []
}
{% endschema %}
